<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>stationsummary</title>
</head>
<body>
<section>

    <div class="ui five stackable cards">
        <div class="primary card">
            <div class="image">
                <img src="https://cdn.glitch.com/74dec8ba-4ed2-4ce5-a2c6-7dc366c298b8%2Fpexels-pixabay-269790.jpg?v=1627571491001">
            </div>
            <div class = "center aligned icon">
                <i class="huge blue map marker icon"></i>
            </div>
            <div class="content">
                <a class="header">{{station.stationName}}</a>
                <div class="description">
                    <p> Latitude {{latitude}} </p>
                    <p> Longitude {{longitude}}</p>
                </div>
            </div>
        </div>

        <div class="primary card">
            <div class="image">
                <img src="https://cdn.glitch.com/74dec8ba-4ed2-4ce5-a2c6-7dc366c298b8%2Fpexels-megan-newman-837494.jpg?v=1627571519790">
            </div>
            <div class = "center aligned icon">
           {{#if pinkSun}}
                <i class="huge pink sun icon"></i>
           {{else}}
              {{#if pinkUmbrella}}
                <i class="huge pink umbrella icon"></i>
              {{else redWarn}}
              <i class="massive red exclamation circle icon"></i>
           {{/if}}   
          {{/if}} 
            </div>
          
         
          
          
          
            <div class="content">
                <a class="header">Weather</a>
                <div class="description">
                    <p> latest Weather:  {{latestWeatherCode}}   </p>
                </div>
            </div>
        </div>
        <div class="primary card">
            <div class="image">
                <img src="https://cdn.glitch.com/74dec8ba-4ed2-4ce5-a2c6-7dc366c298b8%2Fpexels-eberhard-grossgasteiger-844297.jpg?v=1627571489529">
            </div>
            <div class = "center aligned icon">
                <i class="huge blue thermometer icon"></i>
            </div>
            <div class="content">
                <a class="header">Temperature</a>
                <div class="description">
                    <p>latest temp: {{latestReadingTemp}}  C</p>
                  <p>latest temp: {{latestTempFahr}}  F</p>
                    <p>Minimum temp: {{minTemp}} C</p>
                    <p>Maximum temp: {{maxTemp}} C</p>
                </div>
                <div class = "center aligned icon">
                  <div>
                 
                     <p>status: {{tempTrend}}</p>
                       
            
                    </div>
                </div>
            </div>
        </div>
        <div class="primary card">
            <div class="image">
                <img src="https://cdn.glitch.com/74dec8ba-4ed2-4ce5-a2c6-7dc366c298b8%2Fwind.jpg?v=1627571496828">
            </div>
            <div class = "center aligned icon">
                <i class="huge blue wind icon"></i>
            </div>
            <div class="content">
                <a class="header">Wind Speed</a>
                <div class="description">
                    <p> latest WindSpeed: {{latestWindReading}} </p>
                    <p>{{latestWindDirection}}</p>
                    <p>Feels Like</p>
                    <p>{{latestWindChill}} C</p>
                    <p>Min Wind Speed: {{minWind}} bft</p>
                    <p>Max Wind Speed: {{maxWind}} bft</p>
                </div>
                <div class = "center aligned icon">
                    <div>
                     
                    </div>
                </div>
            </div>
        </div>


        <div class="primary card">
            <div class="image">
                <img src="https://cdn.glitch.com/74dec8ba-4ed2-4ce5-a2c6-7dc366c298b8%2Fpexels-andre-furtado-1162251.jpg?v=1627571515566">
            </div>
            <div class = "center aligned icon">
                <i class="huge blue atom icon"></i>
            </div>
            <div class="content">
                <a class="header">Pressure</a>
                <div class="description">
                    <p>latest Pressure: {{latestReadingPressure}} hpa</p>
                    <p>Min Pressure: {{minPressure}} hpa </p>
                    <p>Max Pressure: {{maxPressure}} hpa</p>
                </div>
                <div class = "center aligned icon">
                    <div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>